<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Playlist Management System</title>
</head>
<body>

<h2>CREATE ALBUM</h2>
<form>
  <label for="judul">Judul:</label>
  <input type="text" id="judul" name="judul"><br><br>
  <label for="label">Label:</label>
  <select id="label" name="label">
    <option value="label1">Label 1</option>
    <option value="label2">Label 2</option>
    <option value="label3">Label 3</option>
  </select><br><br>
  <input type="submit" value="[SUBMIT]">
</form>
</body>
</html>
