<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Playlist Management System</title>
</head>
<body>



<h2>CREATE LAGU</h2>
<form>
  <label for="album">Album:</label>
  <input type="text" id="album" name="album" value="Album1" readonly><br><br>
  <label for="judul">Judul:</label>
  <input type="text" id="judul" name="judul" value="[Isian]"><br><br>
  <label for="artist">Artist:</label>
  <input type="text" id="artist" name="artist" value="[Jika USER LOGGED IN == Artist, maka lagu dinyanyikan oleh Artist ini. Jika USER LOGGED IN ==
Songwriter, tampilkan dropdown daftar artist pada Marmut]" readonly><br><br>
  <label for="songwriter">Songwriter:</label>
  <input type="text" id="songwriter" name="songwriter" value="[Multiselect daftar songwriter pada Marmut. Jika USER LOGGED IN == Songwriter, maka
lagu termasuk ditulis oleh Songwriter ini]" readonly><br><br>
  <label for="genre">Genre:</label>
  <input type="text" id="genre" name="genre" value="[Multiselect daftar genre pada Marmut]"><br><br>
  <label for="durasi">Durasi:</label>
  <input type="text" id="durasi" name="durasi" value="[Isian]"><br><br>
  <input type="submit" value="[SUBMIT]">
</form>

</body>