<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Playlist Management System</title>
</head>
<body>

<h2>DAFTAR LAGU PADA ALBUM1</h2>
<table>
  <tr>
    <th>Judul</th>
    <th>Durasi</th>
    <th>Total Play</th>
    <th>Total Download</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Lagu1</td>
    <td>2 menit</td>
    <td>3</td>
    <td>0</td>
    <td>
      <a href="#">[Lihat Detail]</a>
      <a href="#">[Hapus]</a>
    </td>
  </tr>
  <tr>
    <td>Lagu2</td>
    <td>3 menit</td>
    <td>2</td>
    <td>2</td>
    <td>
      <a href="#">[Lihat Detail]</a>
      <a href="#">[Hapus]</a>
    </td>
  </tr>
</table>
</body>