<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Playlist Management System</title>
</head>
<body>

<h2>LIST ALBUM</h2>
<table>
  <tr>
    <th>Judul</th>
    <th>Label</th>
    <th>Jumlah Lagu</th>
    <th>Total Durasi</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Album1</td>
    <td>LabelA</td>
    <td>0</td>
    <td>0 menit</td>
    <td>
      <a href="#">[Lihat Daftar Lagu]</a>
      <a href="#">[Tambah Lagu]</a>
      <a href="#">[Hapus]</a>
    </td>
  </tr>
  <tr>
    <td>Album2</td>
    <td>LabelB</td>
    <td>2</td>
    <td>4 menit</td>
    <td>
      <a href="#">[Lihat Daftar Lagu]</a>
      <a href="#">[Tambah Lagu]</a>
      <a href="#">[Hapus]</a>
    </td>
  </tr>
</table>
</body>