<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>List Album</title>
<style>
  /* table {
    width: 100%;
    border-collapse: collapse;
  } */
  th {
    background-color: #add8e6;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  .action-buttons {
    display: flex;
    gap: 10px;
  } 
</style>
</head>
<body>
    <h2>
        Daftar Lagu Pada Album
    </h2>
  <table>
    <tr>
      <th>Judul</th>
      <th>Durasi</th>
      <th>Total PLay</th>
      <th>Total Download</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>Lagu1</td>
      <td>2 menit</td>
      <td>3</td>
      <td>0</td>
      <td class="action-buttons">
        <button>Lihat Daftar Lagu</button>
        <button>Hapus</button>
      </td>
    </tr>
    <tr>
      <td>Lagu2</td>
      <td>3 menit</td>
      <td>2</td>
      <td>2</td>
      <td class="action-buttons">
        <button>Lihat Daftar Lagu</button>
        <button>Hapus</button>
      </td>
    </tr>
  </table>
</body>
</html>
