
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Playlist Management System</title>
</head>
<body>
    <h1>User Playlist Detail</h1>
    <div id="playlist-detail"></div>
    <button id="shuffle-play">shuffle play</button>
    <div><a href="/">kembali</a></div>
    <div id="song-list"></div>
    

    <style>
        #song-table {
            border: 0; 
            width: 100%; 
            table-layout: fixed; 
            }

        th {
            background-color: #f2f2f2; 
            padding: 10px; 
            text-align: left; 
        }

        td {
            padding: 10px; 
        }
        
        td button {
            padding: 5px 10px; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
        }
    </style>

    <script>
        function showCreatePlaylistForm() {
            const playlists = document.getElementById('playlists');
            const createPlaylistForm = document.getElementById('create-playlist-form');
            playlists.style.display = 'none';
            createPlaylistForm.style.display = 'block';
        }

        var userPlaylistData = {{ user_playlist|safe }};
        var songsData = {{ songs|safe }};
        var namaData = {{ nama|safe }}
        var emailData = `${{ email|safe }}`.slice(1)
        console.log(userPlaylistData)
        console.log(songsData)
        console.log(namaData)
        console.log(emailData)

        var playlistDetailDiv = document.getElementById("playlist-detail")
        playlistDetailDiv.innerHTML = `
        <h4>Judul: ${userPlaylistData.judul}</h4>
        <h4>Nama: ${namaData.nama}</h4>
        <h4>Jumlah Lagu: ${songsData.length}</h4>
        <h4>Total Durasi: ${userPlaylistData.total_durasi}</h4>
        <h4>Tanggal Dibuat: ${userPlaylistData.tanggal_dibuat}</h4>
        <h4>Deskripsi: ${userPlaylistData.deskripsi}</h4>`

        var songListDiv = document.getElementById('song-list')
        var songListHTML = `<table id="song-table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Judul</th>
                                                    <th scope="col">Oleh</th>
                                                    <th scope="col">Durasi</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                        <tbody>`
        for (const song of songsData) {
            songListHTML += `  <tr>
                                    <th  scope="row">${song.judul}</th>
                                    <td>${song.nama_artis}</td>
                                    <td>${song.durasi} menit</td>
                                    <td>
                                        <button>Lihat</button>
                                        <button><a href="/playlist/play-song-page/${emailData}/${song.id_konten}">Play</a></button>
                                        <button id="delete-${song.id_konten}">Hapus</button>
                                    </td>
                                    </br>
                                </tr>`
        }
        songListHTML += `</tbody></table>
            <a href="/playlist/add-song-page/${userPlaylistData.id_user_playlist}"><button type="button">Tambah Lagu</button></a>`
        songListDiv.innerHTML = songListHTML

        for (const song of songsData) {
            const deleteSongButton = document.getElementById(`delete-${song.id_konten}`)
            deleteSongButton.addEventListener('click', async () => {
                console.log(`hapus-${userPlaylistData.id_user_playlist}`)
                await fetch(`/playlist/delete-song/${userPlaylistData.id_user_playlist}/${song.id_konten}`)
                window.location.reload();
            })
        }


        const shufflePlayButton = document.getElementById('shuffle-play')
        shufflePlayButton.addEventListener('click', async () => {
            const res = await fetch(`/playlist/akun-play-user-playlist/${emailData}/${userPlaylistData.id_user_playlist}`)
            console.log(res)
            // window.location.reload();
        })


    </script>
</body>
</html>