<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Song to Playlist</title>
</head>
<body>
    <div id="desc-down"></div>

    <script>
        const emailData = `${{ email|safe }}`.slice(1)
        const idSongData = `${{ id_song|safe }}`.slice(1)
        const titleData = `${{ judul|safe }}`.slice(1)
        const statusData = `${{ status|safe }}`.slice(1)
        print(emailData, idSongData)
        const downloadDescriptionDiv = document.getElementById("desc-down")
        const statusUnduh = statusData === "success" ? `<h1>Berhasil mengunduh Lagu dengan judul ‘${titleData}’!</h1>` : `<h1>Lagu dengan judul ‘${titleData}’ sudah pernah diunduh!</h1>`
        downloadDescriptionDiv.innerHTML = `${statusUnduh}
        <a href="http://127.0.0.1:8000/playlist">[KE DAFTAR DOWNLOAD]</a>
        <a href="http://127.0.0.1:8000/playlist/play-song-page/${emailData}/${idSongData}">Kembali</a>`
        
    </script>
</body>
</html>
