<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Song to Playlist</title>
</head>
<body>
    {% include 'main/navbar.html' with context=context only  %}
    <div id="desc-down" class="content"></div>

    <script>
        function UUID(s){return s}
        const emailData = `${{ email|safe }}`.slice(1)
        const idSongData = `${{ id_song|safe }}`.slice(1)
        const titleData = `${{ judul|safe }}`.slice(1)
        const statusData = `${{ fail|safe }}`.slice(1)
        console.log(emailData, idSongData)
        const downloadDescriptionDiv = document.getElementById("desc-down")
        console.log(statusData)
        const statusUnduh = statusData === "success" ? `<h1>Berhasil mengunduh Lagu dengan judul ‘${titleData}’!</h1>` : `<h1>Lagu dengan judul ‘${titleData}’ sudah pernah diunduh!</h1>`
        downloadDescriptionDiv.innerHTML = `${statusUnduh}
        <a href="/download">[KE DAFTAR DOWNLOAD]</a>
        <a href="/playlist/play-song-page/${idSongData}">Kembali</a>`
        
    </script>
</body>
</html>
