
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Playlist Management System</title>
</head>
<body>
    <h1>User Playlists</h1>

    <div id="playlists"></div>

    <div id="create-playlist-form" style="display: none;">
        <h2>Tambah Playlist</h2>
        <form id="playlist-form">
            <label for="playlist-title">Judul:</label>
            <input type="text" id="playlist-title" name="playlist-title" placeholder="Masukkan judul playlist">
            <br>
            <label for="playlist-description">Deskripsi:</label>
            <textarea id="playlist-description" name="playlist-description" placeholder="Masukkan deskripsi playlist"></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="update-playlist-form" style="display: none;">
        <h2>Ubah Playlist</h2>
        <form id="update-form">
            <input type="hidden" id="update-playlist-id">
            <label for="update-playlist-title">Judul:</label>
            <input type="text" id="update-playlist-title" name="update-playlist-title" placeholder="Masukkan judul playlist">
            <br>
            <label for="update-playlist-description">Deskripsi:</label>
            <textarea id="update-playlist-description" name="update-playlist-description" placeholder="Masukkan deskripsi playlist"></textarea>
            <br>
            <button type="submit">Update</button>
        </form>
    </div>

    <style>
        #playlist-table {
            border: 0; 
            width: 100%; 
            table-layout: fixed; 
            }

        th {
            background-color: #f2f2f2; 
            padding: 10px; 
            text-align: left; 
        }

        td {
            padding: 10px; 
        }
        
        td button {
            padding: 5px 10px; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
        }

        .button-link {
            text-decoration: none; /* Remove underline */
            border: none;          /* Remove border */
            background-color: #f0f0f0; /* Hover effect */
            border-radius: 3px;        /* Rounded corners for hover effect */
        }


        button {
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>

    <script>
        function showCreatePlaylistForm() {
            document.getElementById('playlists').style.display = 'none';
            document.getElementById('create-playlist-form').style.display = 'block';
            document.getElementById('update-playlist-form').style.display = 'none';
        }

        function showUpdatePlaylistForm(playlist) {
            document.getElementById('playlists').style.display = 'none';
            document.getElementById('create-playlist-form').style.display = 'none';
            document.getElementById('update-playlist-form').style.display = 'block';
            
            document.getElementById('update-playlist-id').value = playlist.id_user_playlist;
            document.getElementById('update-playlist-title').value = playlist.judul;
            document.getElementById('update-playlist-description').value = playlist.deskripsi;
        }

        var playlistData = {{ playlists|safe }};
        var emailData = `${{ email|safe }}`.slice(1)
        console.log(playlistData,emailData)
        var playlistDiv = document.getElementById("playlists")
        if (playlistData.length === 0) {
            playlistDiv.innerHTML = `<h2>Anda Belum Memiliki Playlist</h2>
            <button type="button" onclick="showCreatePlaylistForm()">Tambah Playlist</button>`;
        } 
        else {
        let playlistTableHTML = ` <table id="playlist-table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Judul</th>
                                                    <th scope="col">Jumlah Lagu</th>
                                                    <th scope="col">Total Durasi</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                        <tbody>`
                for(const playlist of playlistData) {
                    playlistTableHTML += `  <tr>
                                                    <th  scope="row">${playlist.judul}</th>
                                                    <td>${playlist.jumlah_lagu}</td>
                                                    <td>${playlist.total_durasi} menit</td>
                                                    <td>
                                                        <a href="/playlist/show-one-by-id/${playlist.id_user_playlist}" class="button-link"><button>Detail</button></a>
                                                        <button onclick='showUpdatePlaylistForm(${JSON.stringify(playlist)})'>Ubah</button>
                                                        <button id="hapus-${playlist.id_user_playlist}">Hapus</button>
                                                    </td>
                                                    </br>
                                                </tr>`
                }
                playlistTableHTML += `</tbody></table>
                <button type="button" onclick="showCreatePlaylistForm()">Tambah Playlist</button>`
                playlistDiv.innerHTML = playlistTableHTML

                for(const playlist of playlistData) {
                    var deletePlaylist = document.getElementById(`hapus-${playlist.id_user_playlist}`)
                    deletePlaylist.addEventListener('click', async () => {
                        console.log(`hapus-${playlist.id_user_playlist}`)
                        await fetch(`/playlist/delete-playlist/${playlist.id_user_playlist}`)
                        window.location.reload();
                    })
                }
        }


        const form = document.getElementById('playlist-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const title = document.getElementById('playlist-title').value;
            const description = document.getElementById('playlist-description').value;
            console.log(`/playlist/add-playlist/${title}/${description}`)
            const res = await fetch(`/playlist/add-playlist/${title}/${description}`)
            window.location.reload();
        });

        const updateForm = document.getElementById('update-form');
        updateForm.addEventListener('submit', async (event) => {
            event.preventDefault();
            const id_user_playlist = document.getElementById('update-playlist-id').value;
            const title = document.getElementById('update-playlist-title').value;
            const description = document.getElementById('update-playlist-description').value;
            await fetch(`/playlist/update-playlist/${id_user_playlist}/${title}/${description}`);
            window.location.reload();
        });

    </script>
</body>
</html>
