
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Playlist Management System</title>
</head>
<body>
    <h1>User Playlists</h1>

    <div id="playlists"></div>

    <div id="create-playlist-form" style="display: none;">
        <h2>Tambah Playlist</h2>
        <form id="playlist-form">
            <label for="playlist-title">Judul:</label>
            <input type="text" id="playlist-title" name="playlist-title" placeholder="Masukkan judul playlist">
            <br>
            <label for="playlist-description">Deskripsi:</label>
            <textarea id="playlist-description" name="playlist-description" placeholder="Masukkan deskripsi playlist"></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <style>
        #playlist-table {
            border: 0; 
            width: 100%; 
            table-layout: fixed; 
            }

        th {
            background-color: #f2f2f2; 
            padding: 10px; 
            text-align: left; 
        }

        td {
            padding: 10px; 
        }
        
        td button {
            padding: 5px 10px; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
        }
    </style>

    <script>
        function showCreatePlaylistForm() {
            const playlists = document.getElementById('playlists');
            const createPlaylistForm = document.getElementById('create-playlist-form');
            playlists.style.display = 'none';
            createPlaylistForm.style.display = 'block';
        }

        var playlistData = {{ playlists|safe }};
        console.log(playlistData)
        var playlistDiv = document.getElementById("playlists")
        if (playlistData.length === 0) {
            playlistDiv.innerHTML = `<h2>Anda Belum Memiliki Playlist</h2>
            <button type="button" onclick="showCreatePlaylistForm()">Tambah Playlist</button>`;
        } 
        else {
        let playlistTableHTML = ` <table id="playlist-table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Judul</th>
                                                    <th scope="col">Jumlah Lagu</th>
                                                    <th scope="col">Total Durasi</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                        <tbody>`
                for(const playlist of playlistData) {
                    playlistTableHTML += `  <tr>
                                                    <th  scope="row">${playlist.judul}</th>
                                                    <td>${playlist.jumlah_lagu}</td>
                                                    <td>${playlist.total_durasi} menit</td>
                                                    <td>
                                                        <a href="/playlist/show-one-by-id/${playlist.id_user_playlist}">Detail</a>
                                                        <button>Ubah</button>
                                                        <button>Hapus</button>
                                                    </td>
                                                    </br>
                                                </tr>`
                }
                playlistTableHTML += `</tbody></table>
                <button type="button" onclick="showCreatePlaylistForm()">Tambah Playlist</button>`
                playlistDiv.innerHTML = playlistTableHTML
        }

    </script>
</body>
</html>
