<nav>
    <ul>
        {% if not context.is_active %}
        <li><a href="{% url 'main:login' %}">Login</a></li>
        <li><a href="/register">Register</a></li>
        {% elif context.is_active %}
            <li><a href="{% url 'main:show_homepage' %}">Dashboard</a></li>
            {% if not context.is_label %}
            <li><a href="#">Chart</a></li>
            <li>
                <form action="/search" method="GET"> 
                    <input type="text" name="query" placeholder="Search..."> 
                    <button type="submit">Search</button>
                </form>
            </li>
            <li><a href="/playlist/show-all-by-username">Kelola Playlist</a></li>
            <li><a href="{% url 'subscription:show_offers' %}">Langganan Paket</a></li>

            {% if context.is_premium %}
            <li><a href="{% url 'download:show_download' %}"> Kelola Downloaded Songs</a></li>
            {% endif %}

            {% if context.is_podcaster %}
            <li><a href="#">Kelola Podcast</a></li>
            {% endif %}

            {% if context.is_artist or context.is_songwriter %}
            <li><a href="#">Kelola Album & Songs</a></li>
            {% endif %}

            {% if context.is_label %}
            <li><a href="#">Kelola Album</a></li>
            {% endif %}

            {% if context.is_label or context.is_artist or context.is_songwriter %}
            <li><a href="#">Cek Royalti</a></li>
            {% endif %}

            {% endif %}
            <li><a href="{% url 'main:logout' %}">Logout</a></li>
        {% endif %}
    </ul>
    
</nav>


<style>
    /* Basic styling for the navbar */
    nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Ensure the navbar is above other content */
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    nav ul li {
        margin-right: 20px;
    }

    nav ul li:last-child {
        margin-right: 0;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    /* Add padding to the content */
    .content {
        padding-top: 60px; /* Adjust this value based on the height of your navigation bar */
    }
</style>

