<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Downloaded Song</title>
</head>
<body>
    {% include 'main/navbar.html' with context=context only  %}
    <div class="content">
        <h1>Daftar Lagu</h1>
        <table>
            <tr>
                <th>Lagu</th>
                <th>Oleh</th>
                <th>Action</th>
            </tr>
            {% for konten in konten %}
                <tr>
                    <td>{{ konten.judul }}</td>
                    <td>{{ konten.nama }}</td>
                    <td>
                        <button onclick="">Lihat</button>
                        <button onclick="del('{{ konten.id_song }}', '{{ konten.email_downloader }}')">Hapus</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
   

    <script>
        function del(song,email) {
            
            fetch("{% url 'download:delete' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: `song=${encodeURIComponent(song)}&email=${encodeURIComponent(email)}`
            })
            .then(response => {
                if (response.ok) {
                    alert('b');
                    window.location.reload();
                } else {
                    response.text().then(message => {
                        alert(message);
                    });
                }
            })
        }
    </script>
</body>
</html>
