<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pembayaran</title>
</head>
<body>
    {% include 'main/navbar.html' with context=context only  %}
    <div class="content">
        <h1>Pembayaran</h1>
    <h2>Durasi: {{ jenis }}</h2>
    <h2>Harga: Rp{{ harga }},00</h2>
    <p>Metode pembayaran:</p>
    <select id="paymentMethod">
        <option value="transfer-bank">Transfer Bank</option>
        <option value="kartu-kredit">Kartu Kredit</option>
        <option value="e-wallet">E-Wallet</option>
    </select>
    <button onclick="processPayment()">Bayar</button>
    </div>
    

    <script>
        function processPayment() {
            var method = document.getElementById('paymentMethod').value;
            var type = "{{ jenis }}";
            var price = "{{ harga }}";
            var email = "{{ context.email }}"

            fetch("{% url 'subscription:process' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: `type=${encodeURIComponent(type)}&price=${encodeURIComponent(price)}&method=${encodeURIComponent(method)}&email=${encodeURIComponent(email)}`
        })
        .then(response => {
            if (response.ok) {
                window.location.href = "{% url 'subscription:show_offers' %}";
            } else {
                response.text().then(message => {
                    alert(message);
                });
            }
        })
        .catch(error => {
            console.error('Error during login:', error);
        });
    }
        
    </script>
</body>
</html>
